*.pt
*.h5
*.weights
__pycache__/
db.sqlite3
media/
venv/
#files  
githubhelper.txt
functionality.txt
help.txt
functionality.txt
collect_all_code.py
collect_all_hjc_code.py
collect_python_code.py
html_js_css.txt
python.txt
open_rtps_connection.py